<div class="dtge-dialog" ng-controller="Our.Umbraco.DocTypeGridEditor.Dialogs.DocTypeGridEditorDialog as vm">
    <umb-editor-view>
        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-control-group label="{{selectContentTypeLabel}}" ng-if="dialogMode == 'selectDocType'">
                <ul class="umb-actions umb-actions-child">
                    <li data-element="action-create-{{docType.alias}}" ng-repeat="docType in docTypes | orderBy:'name':false">
                        <a ng-click="selectDocType(docType.alias)">
                            <i class="large {{docType.icon}}"></i>
                            <span class="menu-label">
                                {{docType.name}}
                                <small>
                                    {{docType.description}}
                                </small>
                            </span>
                        </a>
                    </li>
                </ul>
            </umb-control-group>
            <div ng-if="dialogMode == 'edit'">
                <ng-form val-form-manager>
                    <umb-tabbed-content ng-if="!vm.loading"
                                        content="vm.content">
                    </umb-tabbed-content>
                </ng-form>
            </div>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="action"
                            label-key="general_submit"
                            shortcut="ctrl+s"
                            action="vm.submit(model)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>